body {
    /* Degradado de fondo */
    background: rgb(34,33,32);
    background: linear-gradient(90deg, rgba(34,33,32,1) 0%, rgba(69,66,58,1) 50%, rgba(69,66,58,1) 100%);
    min-height: 100vh;
}

#tablaRegistros thead th {
    color: white;
}
/* Estilo para la tarjeta*/
/* Color del borde */
.card {
    border-color: #ffffff; 
}

/* Estilo para el encabezado */
.card-header {
    background-color: rgba(34,33,32,1);
    color: white;
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    background-color: #f8f9fa;
}

/* Estilo para el título de la tarjeta */
.card-title {
    color: #343a40; /* Color del título */
}

/* Estilo para el texto de la tarjeta */
.card-text {
    color: #6c757d; /* Color del texto */
}

